/* IMPORT FACES */

@font-face
{
  font-family: "Interstate";
  src: url("fonts/Interstate-Regular.otf");
  font-weight: 400;
}
@font-face
{
  font-family: "Interstate";
  src: url("fonts/Interstate-ExLight.otf");
  font-weight: 100;
}
@font-face
{
  font-family: "Interstate";
  src: url("fonts/Interstate-Light.otf");
  font-weight: 300;
}
@font-face
{
  font-family: "Interstate";
  src: url("fonts/Interstate-Bold.otf");
  font-weight: 600;
}

html { font-size: 62.5% ;}

body
{
    margin: 0;
    padding: 0;
    background-color: #0C0E37;
    font-family: "Interstate";
    font-weight: 300;
    font-size: 1.4rem;
    color: #fff;
    line-height: calc(1.4rem * 1.7);
}

/* TYPOGRAPHY */

h1, h2, h3 { margin: 0; }
h1, h2
{
    font-size: 3.32em;
    letter-spacing: 1rem;
    line-height: 74px;
    text-transform: uppercase;
}
h2, h3
{
    font-weight: 600;
}
h1 { font-weight: 100; }
h3
{
    font-size: 2.25em;
    line-height: 50px;
}

/* COMMONS CLASSES */

.container
{
    width: 90%;
    height: 100%;
    margin: auto;
}
.background
{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.flex
{
    display: flex;
    flex-direction: column;
}
.center { justify-content: center; }
.bottom { justify-content: flex-end; }
.left { align-items: flex-end; }

.relative { position: relative; }
.absolute { position: absolute; }

img
{
    height: 100%;
    width: auto;
}
.section
{
    width : 100vw;
    height : 100vh;
}
video
{
    width : 100%;
    height : 100%;
    object-fit: contain;
    background-color: #000;
}

/* TIMELINE */

.timeline
{
    width: 20px;
    height: 50%;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    right: 5%;
    z-index: 10;
}
.star
{
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow:
        0 0 4px 3px rgba(145, 145, 145, 0.5),
        0 0 20px 7px rgba(255, 255, 255, 0.5);
    animation: star-scale ease-in-out 1.2s infinite alternate-reverse;
}
.star:nth-child(odd)
{
    animation-delay: 0.6s;
}

@keyframes star-scale {
    from {transform: scale(0.5);}
    to {transform: scale(1.1);}
}
.current-slide
{
    box-shadow: 0 0 35px 21px rgba(255, 56, 56, 0.5);
}

/* SCROLL */

.scroll
{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: -9%;
    bottom: 0;
    transform: rotate(90deg);
    transform-origin: right bottom;
}
.scroll-text
{
    padding-right: 2rem;
}
.scroll-border
{
    border-top: 1px solid #fff;
    width: 10rem;
}

/* BUTTON */

.button-outline
{
    border: 1px solid #fff;
    width: 15rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    transition: all ease-in-out 0.3s;
}
.button-outline a
{
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
.button-outline:hover
{
    transition: all ease-in-out 0.3s;
    background-color: #fff;
}
.button-outline:hover a
{
    color: #0C0E37;
}

/* SLIDE CHAPTER */

.chapter
{
    background-image: linear-gradient( rgba(12, 14, 55, 0.66), rgba(12, 14, 55, 0.66) ), url('../img/chapter-stars.jpg');
}
.chapter-container
{
    max-width: 70%;
}
.chapter-container p
{
    max-width: 80%;
}

/* CARDS */

.card
{
    padding: 20px 40px;
    margin: 0 80px 40px 0;
}
.card-xsmall { width: 25%; }
.card-small { width: 35%; }
.card-medium { width: 50%; }
.card-large { width: 80%; }

.black-card
{
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.white-card
{
    background-color: #fff;
    color: #0C0E37;
}
.white-opacity-card
{
    background-color: rgba(255, 255, 255, 0.8);
    color: #0C0E37;
}
.bottomLeft
{
    bottom: 40px;
    left: 5%;
}
.bottomRight
{
    bottom: 40px;
    right: 10%;
}
.bottomRight .card
{
    margin-right: 0;
}

/* SLIDE IMAGE AND TEXT */

.image-and-text .card-container
{
    padding-right: 90px;
    position: relative;
}

.image-and-text .img-box
{
    height: 200%;
    position: absolute;
    top: 5%;
    left: 85%;
}

/* SLIDER */

.slide-1 { background-image: url(../img/1.jpg); }
.slide-2 { background-image: url(../img/2.jpg); }
.slide-3 { background-image: url(../img/3.jpg); }
.slide-4 { background-image: url(../img/4.jpg); }
.slide-5 { background-image: url(../img/5.jpg); }
.slide-6 { background-image: url(../img/6.jpg); }
.slide-7 { background-image: url(../img/7.jpg); }
.slide-8 { background-image: url(../img/8.jpg); }
.slide-9 { background-image: url(../img/9.jpg); }
.slide-10 { background-image: url(../img/10.jpg); }
.slide-11 { background-image: url(../img/11.jpg); }
.slide-12 { background-image: url(../img/12.jpg); }
.slide-13 { background-image: url(../img/13.jpg); }
.slide-14 { background-image: url(../img/14.jpg); }
.slide-15 { background-image: url(../img/15.jpg); }
.slide-16 { background-image: url(../img/16.jpg); }
.slide-17 { background-image: url(../img/17.jpg); }
.slide-18 { background-image: url(../img/18.jpg); }
.slide-19 { background-image: url(../img/19.jpg); }
.slide-20 { background-image: url(../img/20.jpg); }
.slide-21 { background-image: url(../img/21.jpg); }
.slide-22 { background-image: url(../img/22.jpg); }
.slide-23 { background-image: url(../img/23.jpg); }

.fp-controlArrow.fp-prev
{
    border-width: 25px 25px 25px 25px;
}
.fp-controlArrow.fp-next
{
    border-width: 25px 125px 25px 25px;
}

/* SPECIFIC SECTIONS */

.section-5 .text-container
{
    z-index: 1;
}

.section-6 .img-box
{
    height: 125%;
    top: 25%;
    left: 90%;
}
.section-7 video
{
    object-position: right;
    background-color: #0C0E37;
}
.section-8 .card
{
    margin: 0 100px 0 0;
    padding: 20px 40px 20px 140px;
}
.section-8 .img-box
{
    height: 110%;
    top: 37%;
    left: -65%;
}
.section-9 .card
{
    margin-left: auto;
}
