









.section {
  background-size: cover;
  overflow: hidden;
}

.slide {
  background-size: cover;
}

#myVideo1 {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/
  background-image: url(../img/sputnik.mp4);
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  /*cover video background */
  z-index: 3;
}

#myVideo2 {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/
  background-image: url(../img/sputnik2.mp4);
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  /*cover video background */
  z-index: 3;
}

#myVideo3 {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/
  background-image: url(../img/gps.mp4);
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  /*cover video background */
  z-index: 3;
}

#myVideo4 {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/
  background-image: url(../img/echo1.mp4);
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  /*cover video background */
  z-index: 3;
}

#myVideo5 {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/
  background-image: url(../img/discours.mp4);
  background-position: center center;
  background-size: 100%;
  object-fit: cover;
  /*cover video background */
  z-index: 3;
}

#myVideo6 {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 110%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/
  background-image: url(../img/apollo11.mp4);
  background-position: center center;
  background-size: 100%;
  object-fit: cover;
  /*cover video background */
  z-index: 3;
}

#myVideo7 {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 110%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/
  background-image: url(../img/conquete.mp4);
  background-position: center center;
  background-size: 100%;
  object-fit: cover;
  /*cover video background */
  z-index: 3;
}

#myVideo8 {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 110%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/
  background-image: url(../img/proxima.mp4);
  background-position: center center;
  background-size: 100%;
  object-fit: cover;
  /*cover video background */
  z-index: 3;
}

#chapter1 {
  background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/iss044e008002_alt.jpg);
  position: relative;
  text-align: center;
}

#chapter17 {
  background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/iss044e008002_alt.jpg);
  position: relative;
  text-align: center;
}

/*
#chapter1,
#chapter2,
#chapter3,
#chapter4,
#chapter5,
#chapter6,
#chapter7,
#chapter8,
#chapter9,
#chapter10,
#chapter11,
{
  text-align: center;
}
*/

.botRight {
  position: absolute;
  bottom: 5%;
  right: 3%;
  color: white;
  z-index: 4;
}

.topRight {
  position: absolute;
  top: 5%;
  right: 3%;
  color: white;
  z-index: 4;
}

.midRight {
  position: absolute;
  top: 50%;
  right: 3%;
  color: white;
  z-index: 4;
}

.mid {
  position: absolute;
  bottom: 5%;
  right: 48%;
  color: white;
  z-index: 4;
}

.topLeft {
  color: white;
  width: 40%;
  position: absolute;
  top: 5%;
  left: 30px;
  z-index: 4;
}

.topLeftInfo {
  position: absolute;
  top: 10%;
  left: 3%;
  z-index: 4;
}

#chapter2 {
  /*  background-image: url(http://www.history.com/s3static/video-thumbnails/AETN-History_VMS/21/205/tdih-oct04-HD.jpg);*/
  background-position: right;
  position: relative;
  color: white;
}

.imgRotation {
  transform: rotate(120deg);
  position: absolute;
  top: 20%;
  left: -200px;
}

video::-webkit-media-controls {
  display: none !important;
}

#chapter3 {
  position: relative;
  color: white;
  overflow: hidden;
}

#chapter4 {
  position: relative;
}

#chapter4 {
  background-image: url();
  position: relative;
}

#chapter5 {
  background-image: url();
  position: relative;
  text-align: center;
}

#chapter9 {
  background-image: url('../img/deploy.jpg');
  position: relative;
  text-align: center;
  color: white;
}

#chapter10 {
  background-image: url('../img/apollo.jpg');
  position: relative;
  text-align: center;
  color: white;
}

#chapter13 {
  background-image: url();
  position: relative;
  text-align: center;
  color: black;
}
