body
{
	position: relative;
}

.menu{
	width: 100%;
	height: 100px;
	position: fixed;
	bottom: 0;
	z-index: 10;
	background-color: #fff;
}

.clear
{
	clear: both;
}

.section
{
	background-image: url(../img/back-contact.png);
}

.bar, .star
{
	display: inline-block;
}

.timeline{
	height: 40px;
	line-height: 40px;	
}

.bar
{
	height: 2px;
	width: 40px;
	background-color: red;
}

.star
{
	transform: translateY(+50%);
	height: 10px;
	width: 10px;
	background-color: red;
	border-radius: 50% 50%;
}

.menu-pop-up
{
	opacity: 0;
	z-index: 5;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 600px;
	width: 600px;
	background-color: red;
	transform: translate(-50%, -50%);
}

#fullpage
{
	transition: all 1s ease;
}

.item
{
	width: 50px;
	height: 33px;
	float: left;
}

.green
{
	background-color: green;
}

.red
{
	background-color: red;
}

.blue
{
	background-color: blue;
}

.orange
{
	background-color: orange;
}

.chapters
{
	background-color: black;
}